<div style="background-color:#00CCFF">
<h1>jQuery Autocomplete</h1>
<%= form_for @product do |f| %>
  <%=f.label :brand_name %>
  <%=f.autocomplete_field :brand_name, welcome_autocomplete_brand_name_path %>  
  
<% end %>
<br/>
Ex:al


<br/>
<br/>
</div>
